/* Navbar.css */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #1B2D49;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar1-open {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .bar2-open {
    opacity: 0;
  }
  
  .bar3-open {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  .nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Add media query for smaller screens */
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-items {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .menu-open .nav-items {
      display: flex;
    }
  }
  