.box {
    width: 60%; 
}
.Intro{
    background-image: url("./media/MEDICAK.jpg");
    background-size: 100%;
}
.our-services{
    margin-top: 20%;
}
.services>button{
    background-color :#203658;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: "0.5rem";
    border: "none";
    border-radius: "0.25rem";
    cursor: "pointer";
}
.cli {   
    font-size: 2.4rem;
}
.heading{
    font-size: 2.4rem;
}

.para {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}


.blue-shade{
    background-color: #1B2D49;
}

.details,.access{
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    width: 100%;
    font-size: 80%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 2rem;
}
.consultation>button{
    margin-top: 0px;    
}

.access{
    margin-left: 10%;
}

/* Original styles for larger screens */
.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .cards {
      grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed for smaller screens */
      gap: 2rem;
    }
  }
  


.chart>button{
    position: relative;
    left: 45%;
}

.card-img {
  width: 100%; /* Make the width 100% to fill the container */
  height: 70%; /* Maintain the aspect ratio */
  object-fit: cover; /* Cover the entire container */
  overflow:hidden;
  display: block; /* Ensure block-level display for proper alignment */
  margin: 0 auto; /* Center the image horizontally */
}
