.box {
    width: 60%; 
}
.Intro{
    background-image: url("./media/MEDICAK.jpg");
    background-size: 100%;
}

.cli {   
    font-size: 2.4rem;
}
.heading{
    font-size: 2.4rem;
}

.para {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}


.blue-shade{
    background-color: #1B2D49;
}

.details,.access{
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    width: 100%;
    font-size: 80%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 2rem;
}
.consultation>button{
    margin-top: 0px;    
}

.access{
    margin-left: 10%;
}
.card-img{  
    border-radius: 20px;

    width: 80%;
    padding: 2%;
}
.qs{
    display: flex;
    align-items: center;
    font-family: 'poppins';
    font-weight: normal;    
}


.chart>button{
    position: relative;
    left: 45%;
}


